<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Product List
      <ion-icon title="Add Product" role="img" class="icon icon-md ion-md-add item-icon pull-right" aria-label="add" ng-reflect-name="add" (click)='clickLink();'></ion-icon>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!selectedItem">
        <ion-item class="item_list_align" *ngFor="let product of productArray" (click)="itemTapped($event, product)">
            <ion-avatar item-start>
                <img src="{{product.file}}">
            </ion-avatar>
            <h2>{{product.pname}}</h2>
            <p>&#8377;{{product.pprice}}</p>
            <ion-note item-end>{{product.pdate | date}}</ion-note>
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem">
        <ion-card>
            <!-- <ion-card-header>Product Details</ion-card-header> -->
            <img src="{{selectedItem.file}}" />
            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Product Name</h2>
                <p class="text_align_left">{{selectedItem.pname}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Product Id</h2>
                <p class="text_align_left">{{selectedItem.pid}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Date</h2>
                <p class="text_align_left">{{selectedItem.pdate}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Product Quantity</h2>
                <p class="text_align_left">{{selectedItem.pquantity}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Product Supplier</h2>
                <p class="text_align_left">{{selectedItem.psupplier}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Product Price</h2>
                <p class="text_align_left">&#8377;{{selectedItem.pprice}}</p>
            </ion-item>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small (click)="deleteData(selectedItem.rowid)">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                        <div>Delete</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <!-- <ion-fab right bottom>
        <button ion-fab color="light">
           <ion-icon name="search"></ion-icon>
        </button>
    </ion-fab> -->
</ion-content>
