<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Expense Manager List
      <ion-icon title="Add sales" role="img" class="icon icon-md ion-md-add item-icon pull-right" aria-label="add" ng-reflect-name="add" (click)='clickLink();'></ion-icon>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!selectedItem">
        <ion-item-sliding *ngFor="let expense of expenseArray">
            <ion-item nopadding (click)="itemTapped($event, expense)">
                <div class="item-note" item-start>
                    <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
                    {{expense.date}}&nbsp;&nbsp;{{expense.type}}&nbsp;&nbsp;&#8377;{{expense.amount}}
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteData(expense.rowid)">
                  <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- <ion-list *ngIf="!selectedItem">
        <button ion-item *ngFor="let expense of expenseArray" >
            <div class="item-note" item-start (click)="itemTapped($event, expense)">
                {{expense.date}}&nbsp;&nbsp;{{expense.description}}
            </div>
            <ion-icon ios="ios-trash" md="md-trash" item-end (click)="deleteData(expense.rowid)"></ion-icon>
        </button>
    </ion-list> -->
    <div *ngIf="selectedItem">
        <ion-card>
            <!-- <ion-card-header>Expense Manager Details</ion-card-header> -->

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Date</h2>
                <p class="text_align_left">{{selectedItem.date}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Quantity</h2>
                <p class="text_align_left">{{selectedItem.quantity}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Type</h2>
                <p class="text_align_left">{{selectedItem.type}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Description</h2>
                <p class="text_align_left">{{selectedItem.description}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="star" item-start large></ion-icon>
                <h2 class="text_align_left">Amount</h2>
                <p class="text_align_left">{{selectedItem.amount}}</p>
            </ion-item>
        </ion-card>
    </div>
    <!-- <ion-fab right bottom>
        <button ion-fab color="light">
           <ion-icon name="search"></ion-icon>
        </button>
    </ion-fab> -->
</ion-content>
